.content{
    display: none;
    &.active{
        display: block;
    }
}
.mail-window .mail-window-body{
    background-color: #f4f7fc !important;
}
.media-name {
    cursor: pointer;
}
.select2-container {
    width: 100% !important;
    padding: 0;
}

.mail-window-body{ padding-bottom: 50px; }
#menu-moblie{
    display: none;
}

@media only screen and (max-width: 992px) {
    .mail-window-body{ padding-bottom: 100px; }

    #menu-moblie{
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        background-color: white;
        a{
            &.active{ color: #3e4676; background-image: linear-gradient(#fff, #fff); }
            background-image: linear-gradient(#e2e2e2, #fff);
            color: rgb(73, 73, 73);
            flex-grow: 1;

            display: block;
            padding: 20px 5px;
            text-align: center;
            border-right: 1px solid #e6e6e6;
        }
    }
}

.rep_age{
    display: contents;
}
