.empty-spot{
    border: 2px rgb(161, 161, 161) dashed;
    width: 100%;
    height: 60px;
}

.removed{
    border: 1px solid #ffc3c3;
    background: #fdeaea !important;
}




.color-light-blue{
    color: #3e4676;
}


