#note_trigger {
  transition: all 0.3s ease;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 999;
  font-size: 1.5em;
  line-height: 2.3em;
  text-align: center;
  color: white;
  background-color: #212841;
  height: 2.3em;
  width: 2.3em;
  border-radius: 4em;
  cursor: pointer;
}

#note_trigger.active {
  right: -100px;
}

#note_trigger .note_counter {
  position: absolute;
  background-color: tomato;
  color: white;
  line-height: 0.8em;
  border-radius: 0.8em;
  height: 1.2em;
  min-width: 1.2em;
  font-size: 12px;
  padding: 3px;
  top: -2px;
  right: 0;
}

#note_window {
  transition: all 0.3s ease;
  position: fixed;
  bottom: 25px;
  right: -420px;
  z-index: 999;
  font-size: 1.5em;
  line-height: 2.3em;
  text-align: center;
  background-color: #FFF;
  box-shadow: 1px 1px 3px 0px #00000014;
  border: 1px solid #b6b6b65e;
  height: 90%;
  width: 90%;
  max-height: 500px;
  max-width: 350px;
  border-radius: 0.3em;
}

#note_window.active {
  right: 25px;
}

#note_window .note_window_container {
  position: relative;
  width: 100%;
  height: 100%;
}

#note_window .note_window_container .note_window_header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #d3e0e9;
  display: flex;
  justify-content: space-between;
}

#note_window .note_window_container .note_window_header .note_window_header_text {
  text-align: left;
  font-size: 14px;
  padding-left: 1em;
}

#note_window .note_window_container .note_window_header #close-comments {
  padding-right: 1em;
  cursor: pointer;
}

#note_window .note_window_container #note-messages {
  position: absolute;
  top: 50px;
  bottom: 90px;
  width: 100%;
  overflow-y: scroll;
}

#note_window .note_window_container #note-messages .first-comment {
  font-size: 14px;
  color: silver;
}

#note_window .note_window_container #note-messages .message {
  margin: 15px 15px;
  text-align: left;
  display: flex;
  margin-right: 30px;
}

#note_window .note_window_container #note-messages .message .content {
  display: block !important;
  line-height: 1em;
  padding: 2px 5px;
}

#note_window .note_window_container #note-messages .message .content .username,
#note_window .note_window_container #note-messages .message .content .moment {
  font-size: 11px;
  color: silver;
}

#note_window .note_window_container #note-messages .message .content .message-bubble {
  background-color: #ececec;
  font-size: 14px;
  border-radius: 0.5em;
  padding: 5px 10px;
}

#note_window .note_window_container #note-messages .message .content .message-bubble p {
  margin: 0;
}

#note_window .note_window_container #note-messages .message .content .message-bubble a {
  text-decoration: underline;
  overflow-wrap: anywhere;
}

#note_window .note_window_container #note-messages .message.mine {
  flex-direction: row-reverse;
  margin-right: 15px;
  margin-left: 30px;
}

#note_window .note_window_container #note-messages .message.mine .content .message-bubble {
  color: #fafafa !important;
  background-color: #3e4676 !important;
}

#note_window .note_window_container #note-comment-form {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 8px;
  height: 90px;
  border-top: 1px solid #d3e0e9;
  display: flex;
}

#note_window .note_window_container #note-comment-form textarea.note {
  border-bottom-left-radius: 0.3em;
}

