#demande_notes {
  width: 100%;
}

#demande_notes .note_window_container {
  position: relative;
}

#demande_notes .note_window_container .demande_old_messages_shadow {
  width: 100%;
  height: 56px;
  position: absolute;
  z-index: 9999;
  top: -10px;
  background-color: #FFF;
  filter: blur(15px);
  opacity: 0.9;
}

#demande_notes #demande-messages .first-comment {
  font-size: 14px;
  color: silver;
}

#demande_notes #demande-messages .message {
  margin: 15px 15px;
  text-align: left;
  display: flex;
  margin-right: 30px;
}

#demande_notes #demande-messages .message .content {
  display: block !important;
  line-height: 1em;
  padding: 0px 6px;
  margin-top: -5px;
}

#demande_notes #demande-messages .message .content .username,
#demande_notes #demande-messages .message .content .moment {
  font-size: 11px;
  color: silver;
}

#demande_notes #demande-messages .message .content .message-bubble {
  background-color: #ececec;
  font-size: 15px;
  border-radius: 0.4em;
  padding: 9px 10px;
  line-height: 1.2em;
}

#demande_notes #demande-messages .message .content .message-bubble p {
  margin: 0;
}

#demande_notes #demande-messages .message .content .message-bubble a {
  text-decoration: underline;
  overflow-wrap: anywhere;
}

#demande_notes #demande-messages .message.mine {
  flex-direction: row-reverse;
  margin-right: 15px;
  margin-left: 30px;
}

#demande_notes #demande-messages .message.mine .content .message-bubble {
  color: #fafafa !important;
  background-color: #3e4676 !important;
}

#demande_notes #demande-comment-form {
  width: 100%;
  padding: 8px;
  height: 77px;
  display: flex;
}

#demande_notes #demande-comment-form textarea.note {
  border-bottom-left-radius: 0.3em;
}

#demande_notes #demande-comment-form button {
  font-size: 20px;
}

